@import url("./assets/plus-jakarta-sans.css");


:root {
  --black: rgb(25, 25, 25);
  --black-hover: rgb(30, 30, 30);
  --white: rgb(245, 245, 245);

  --primary: #2c3f5a;
  --secondary: HotPink;
}

::selection {
  color: rgb(25, 25, 25);
  background: #d4c9c9;
}
::-moz-selection {
  color: rgb(25, 25, 25);
  background: #d4c9c9;
}

body {
  margin: 0;
  font-family: Jakarta, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
